rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Profil resimleri için kurallar
    match /profile_images/{userId} {
      // Kullanıcı kendi profil resmini okuyabilir ve yazabilir
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // CV dosyaları için kurallar
    match /cv_files/{userId}/{fileName} {
      // Kullanıcı kendi CV dosyalarını okuyabilir ve yazabilir
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Diğer tüm dosyalar için varsayılan kurallar
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false; // Varsayılan olarak yazma işlemlerini engelle
    }
  }
} 